TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=REPL_INTERFACE_NAME
DEVICE=INTERFACE_DEVICE
ONBOOT=yes
SEARCH="clarios.com"
DHCP_HOSTNAME=DHCPHOSTNAME